.schedule-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #0A094D;
    position: relative;
    z-index: 0;

    .schedule-page-heading{
        // border: 1px solid black;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .schedule-page-canvas{
        // border: 1px solid black;
        height: 76vh;
        width: 65vw;
    }
}