.headingwithdash{
    height: 100%;
    width: 100%;
    // border : 1px solid black;
    display : flex;
    justify-content: center;
    align-items: flex-end;


    .about-heading{
        // border : 1px solid red;
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .about-heading-text{
            position: relative;
            // border : 1px solid red;
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .text{
                font-weight: 550;
                font-size: 30px;
                position: relative;
                // border: 1px solid red;

                &::before{
                    position: absolute;
                    content: "";
                    overflow: hidden;
                    height: 60px;
                    width: 60px;
                    background-color: rgba(255, 81, 185, 0.875);
                    z-index: -1;
                    border-radius: 50%;
                    top : -13px;
                    left: -10px;
                }
            }
        }
    }
}

@media only screen and (min-width : 1000px){
    .headingwithdash{
        .about-heading{    
            .about-heading-text{
                width: 60%;
    
                .text{
                    font-size: 40px;
    
                    &::before{
                        height: 100px;
                        width: 100px;
                        top : -28px;
                        left: -18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 400px){
    .headingwithdash{
        .about-heading{    
            .about-heading-text{
    
                .text{
                    font-size: 22px;
    
                    &::before{
                        height: 50px;
                        width: 50px;
                        top : -50%;
                        left: -5%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 320px){
    .headingwithdash{
        .about-heading{    
            .about-heading-text{
    
                .text{
                    font-size: 18px;
    
                    &::before{
                        height: 40px;
                        width: 40px;
                        top : -45%;
                        left: -4%;
                    }
                }
            }
        }
    }
}