.date-container{
    height: 100%;
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .date-box{
        height: 20%;
        width: 100%;
        // border: 1px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10%;

        .date-heading{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 17px;
            color: rgba(50, 51, 51, 0.8);
            // border: 1px solid black;
        }

        .date-text{
            // border: 1px solid black;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            color: rgba(50, 51, 51, 0.8);
        }
    }
}

@media only screen and (min-width : 1200px){
    .date-container{
        height: 100%;
        width: 80%;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .date-box{
            height: 100%;
            width: 100%;
            // border: 1px solid grey;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 0;
    
            .date-heading{
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-weight: bold;
                font-size: 25px;
                color: rgba(50, 51, 51, 0.8);
                // border: 1px solid black;
            }
    
            .date-text{
                // border: 1px solid black;
                height: 100%;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                color: rgba(50, 51, 51, 0.8);
    
                &.smaller{
                    width: 28%;
                }
            }
        }
    }
}

@media only screen and (max-width : 500px){
    .date-container{
    
        .date-box{
    
            .date-text{
                font-size: 13px;
    
                &.smaller{
                    width: 28%;
                }
            }
        }
    }
}