.container{

    height: 70%;
    width: 70%;

.button-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
  }
  
  .button-container button {
    width: 100%;
    height: 100%;
    font-family: "Monument Extended", sans-serif;
    font-size: 40px;
    background: linear-gradient(90deg, #662D8C,  #ED1E79);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: white;
    cursor: pointer;
    animation: anim2 0.7s steps(22) forwards;
  }
  
  .button-container button:hover {
    animation: anim1 0.7s steps(22) forwards;
  }
  
  .mask {
    position: absolute;
    color: #ff48d7;
    text-align: center;
    width: 100%;
    font-family: "Monument Extended", sans-serif;
    font-weight: lighter;
    font-size: 40px;
    margin-top: 25px;
    overflow: hidden;
  }
  
  @keyframes anim1 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  
  @keyframes anim2 {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
}

@media only screen and (min-width : 1000px){
  .container{

    height: 70%;
    width: 20%;
  }
}