.contact-us-page{
    height: 65vh;
    width: 100vw;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: -0;

    // .odyssey-page-heading{
    //     height: 20%;
    //     width: 73%;
    // }


    .contactus-page-logo{
        // border: 1px solid gray;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .odyssey_logo{
            height: 70%;
            width: 65%;
        }
    }

    .contactus-page-details{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        // border: 1px solid gray;

        .details-numbers{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            // border: 1px solid gray;


            &::before{
                content: "Have a query? Reach out to us :";
                position: absolute;
                font-size: 30px;
                top: 11%;
                left: -5%;
                color: rgba(194, 194, 194, 0.708);
            }   
            
            &::after{
                content: "Follow us for latest updates :";
                position: absolute;
                font-size: 30px;
                top: 100%;
                left: -5%;
                color: rgba(194, 194, 194, 0.708);
            }


            .number-heading{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 50%;
                // border: 1px solid gray;

                .number-heading-logo{
                    // border: 1px solid gray;

                    .phone-logo{
                        fill: white;
                        scale: (0.7);
                    }
                }
            }

            .member-number-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content : space-evenly;
                height: 56%;
                width: 60%;
                // border: 1px solid white;


                .member-number{
                    // border: 1px solid white;
                    height: 33.3%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 1.7vw;
                    color: rgb(255, 0, 255);
                    user-select: text; 
                    -webkit-user-select: text;
                    -khtml-user-select: text;
                    -moz-user-select: text; 
                    -ms-user-select: text;

                }
            }
        }

        .social-media{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // border: 1px solid white;

            & a{
                text-decoration: none;
                font-size: 5vw;
                margin-left: 10%;
                color: #55198D;

                &:hover{
                    scale: 1.18;
                    color: rgb(178, 0, 178);
                }
            }
        }
    }
}

@media only screen and (max-width : 1000px) {
    .contact-us-page{
        flex-direction: column;
        .contactus-page-logo{
            width: 80%;
            .odyssey_logo{
                height: 60%;
                width: 50%;
            }
        }
    
        .contactus-page-details{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            // border: 1px solid gray;
    
            .details-numbers{
                width: 100%;
                height: 60%;
                align-items: flex-start;
    
    
                &::before{
                    content: "Have a query? Reach us out on :";
                    position: absolute;
                    font-size: 3vw;
                    top: -30%;
                    left: 10%;
                    color: rgba(194, 194, 194, 0.708);
                }   
                
                &::after{
                    content: "Follow us for latest updates :";
                    position: absolute;
                    font-size: 3vw;
                    top: 70%;
                    left: 10%;
                    color: rgba(194, 194, 194, 0.708);
                }
    
    
                .number-heading{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    height: 50%;
                    width: 20%;
                    // border: 1px solid gray;
    
                    .number-heading-logo{
                        display: none;
    
                        .phone-logo{
                            fill: white;
                            scale: (0.4);
                        }
                    }
                }
    
                .member-number-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content : space-evenly;
                    height: 56%;
                    width: 60%;
                    // border: 1px solid white;
    
    
                    .memberwidth-number{
                        // border: 1px solid white;
                        height: 33.3%;
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 3vw;
                        color: rgb(255, 0, 255);
    
                    }
                }
            }
    
            .social-media{
                width: 90%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 1px solid white;
    
                & a{
                    text-decoration: none;
                    font-size: 6vw;
    
                    &:hover{
                        scale: 1.18;
                        color: rgb(178, 0, 178);
                    }
                }
            }
        }
    }    
}

@media only screen and (max-height : 849px) {
    .contact-us-page{
        height: 90vh;    
}
}

@media only screen and (max-height : 500px) {
    .contact-us-page{
        min-height: 700px;    
}
}

@media only screen and (max-height : 300px) {
    .contact-us-page{
        height: 200vh;    
}
}

@media only screen and (max-width : 500px) {
    .contact-us-page{
        flex-direction: column;
        .contactus-page-logo{
            width: 80%;
            .odyssey_logo{
                height: 50%;
                width: 100%;
            }
        }
    } 
}