        .event-component{
        height: 80vh;
        width: 100%;
        background-color: #f1f3f7;
        position: relative;
        // margin-top: 5%;
        z-index: 0;
        // border: 1px solid black;

        &::after{
            overflow: hidden;
            position: absolute;
            top: 90%;
            left: 16%;
            content: "";
            height: 0px;
            width: 40%;
            border: 1px solid rgba(218, 218, 218, 0.447);
        }

        .background-text{
            overflow: hidden;
            position: absolute;
            top: -43%;
            left: 15%;
            font-size: 21vw;
            color: rgba(0, 0, 0, 0.04);
            transform: rotate(-15deg);
            z-index: -1;
        }

        .event-heading-container{
            // border: 1px solid red;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;

            .event-serialno{
                // border: 1px solid black;
                height: 100%;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                .serialno{
                    font-weight: bold;
                    font-size: 60px;
                    color: #0A094D;
                }
            }
            .event-heading{
                // border: 1px solid grey;
                height: 100%;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                .event-heading-text{
                    font-weight: 500;
                    font-size: 3.5vw;
                    position: relative;
                    color: #0A094D;

                    &::before{
                        position: absolute;
                        content: "";
                        overflow: hidden;
                        height: 100%;
                        width: 0px;
                        background-color: #B37A8C;
                        z-index: -1;
                        border: 1px solid #B37A8C;
                        top : 0px;
                        left: -15px;
                    }
                }
            }
            
        }

        .event-content-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
            // border: 1px solid red;

            .event-descbtn-container{
                width: 60%;
                height: 100%;
                // border: 1px solid black;
                display: flex;
                // justify-content: center;
                // align-items: center;
                flex-direction: column;
                align-items: flex-end;

                .description-container{
                    // border: 1px solid grey;
                    height: 60%;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .description{
                        line-height: 35px;
                        color : rgba(50, 51, 51, 0.8);
                        font-size: 18px;

                        &.para2{
                            margin-top: 50px;
                        }
                    }
                }

                .event-register-btn{
                    height: 30%;
                    width: 80%;
                    // border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
        
            .event-image-container{
                width: 40%;
                height: 100%;
                // border: 1px solid black;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .logo{
                    height: 58vh;
                    width: 37vw;
                }
            }
        }
    }

@media only screen and (max-width : 1000px) {
    .event-component{
        .background-text{
            top: -10%;
            left: 30%;
        }
        .event-heading-container{
            .event-serialno{
              display: none;
            }
        }
        .event-content-container{
            .event-descbtn-container{
                width: 90%;
                align-items: center;

                .description-container{
                    .description{
                        font-size: 16px;
                    }
                }

                .event-register-btn{
                    height: 30%;
                    width: 80%;
                    align-items: center;
                }
            }
            .event-image-container{
                display: none;
            }
        }
    }
    }

    @media only screen and (max-width : 560px) {
        .event-component{
            .background-text{
                top: 10%;
                left: 20%;
                font-size: 30vw;
            }
            .event-content-container{
                .event-descbtn-container{
    
                    .description-container{
                        .description{
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
        }

        @media only screen and (max-height : 680px) {
            .event-component{
                .event-content-container{
                    .event-descbtn-container{
        
                        .description-container{
                            .description{
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
            }
    