.schedule{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 500px;

    .schedule-table-heading{
        // border: 1px solid black;
        height: 20%;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color : white;

        .schedule-date-heading{
            font-size: 1.5vw;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color : white;

        }
        .schedule-event-time-heading{
            font-size: 1.5vw;
            width: 25%; 
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color : white;
        }
        .schedule-event-name-heading{
            font-size: 1.5vw;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items:center; 
            font-weight: bold;
            color : white;  

        }
    }
}

@media only screen and (max-width : 1000px) {
    .schedule{
    
        .schedule-table-heading{
            width: 100%;
            
            .schedule-date-heading{
                font-size: 2.5vw;
                width: 30%;

            }
            .schedule-event-time-heading{
                font-size: 2.5vw;
                width: 30%;
                
            }
            .schedule-event-name-heading{
            width: 40%;
            font-size: 2.5vw;
            }
        }
    }
}