.schedule-table{
    height: 90%;
    width: 90%;
    border-bottom: 1px solid #000000;

    .schedule-table-content{
        // border: 1px solid black;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &:hover .schedule-date {
            color : rgba(255, 81, 185, 0.875);
        }
        &:hover .schedule-event-name {
            color : rgba(255, 81, 185, 0.875);
        }
        &:hover .schedule-event-time {
            color : rgba(255, 81, 185, 0.875);
        }

        .schedule-date{
            font-size: 1.3vw;
            width: 25%;
            display: flex;
            justify-content: center;
            position: relative;
            color: white;

            &::before{
                content: "";
                position: absolute;
                height: 6px;
                width: 6px;
                background-color: rgba(255, 81, 185, 0.875);
                border: none;
                border-radius: 50%;
                top: 40%;
                left: 0%;
            }
        }
        .schedule-event-time{
            font-size: 1.3vw;
            width: 25%;
            display: flex;
            justify-content: center;
            color : white;
        }
        .schedule-event-name{
            font-size: 1.3vw;
            width: 50%;
            display: flex;
            justify-content: center;
            color : white;
        }
    }
}

@media only screen and (max-width : 1000px) {
    .schedule-table{
        width: 100%;
        .schedule-table-content{
    
            .schedule-date{
                font-size: 2vw;
                width: 30%;

                &::before{
                    content: "";
                    position: absolute;
                    height: 6px;
                    width: 6px;
                    background-color: palevioletred;
                    border: none;
                    border-radius: 50%;
                    top: 40%;
                    left: -30%;
                }
            }
            .schedule-event-time{
                font-size: 2vw;
                width: 30%;
            }
            .schedule-event-name{
                font-size: 2vw;
                width: 40%;
            }
        }
    }
}